---
layout: page
---
<!-- Main Content -->

<% page.posts.each(function(post){ %>
<% if (post["cdn"] === 'header-off') { %>
<div class="post-preview <%- post.layout === 'poetry' ? 'post-preview-poetry' : '' %>"
     style="background-image: url('<%- post["header-img"] || config["post-default-img"] %>')">
    <a href="<%- config.root %><%- post.path %>">
        <h2 class="post-title">
            <%- post.title || "未命名" %>
        </h2>
        <p class="post-meta">
            <i class="fa fa-calendar" aria-hidden="true"></i> <%= post.date.format(config.date_format) %>
        </p>
        <% if (post.subtitle && post.subtitle.length) { %>
        <h3 class="post-subtitle">
            <%- post.subtitle %>
        </h3>
        <% } %>
        <div class="post-content-preview">
            <p>
                <%- truncate(strip_html(post.content), {length: 150, omission: '..'}) %>
            </p>
        </div>
    </a>

</div>
<% } else { %>
<div class="post-preview <%- post.layout === 'poetry' ? 'post-preview-poetry' : '' %>"
     style="background-image: url('<%- post["header-img"] ? config["cdn-url"] + post["header-img"] : config["post-default-img"] %>')">
    <a href="<%- config.root %><%- post.path %>">
        <h2 class="post-title">
            <%- post.title || "未命名" %>
        </h2>
        <p class="post-meta">
            <i class="fa fa-calendar" aria-hidden="true"></i> <%= post.date.format(config.date_format) %>
        </p>
        <% if (post.subtitle && post.subtitle.length) { %>
        <h3 class="post-subtitle">
            <%- post.subtitle %>
        </h3>
        <% } %>
        <div class="post-content-preview">
            <p>
                <%- truncate(strip_html(post.content), {length: 150, omission: '..'}) %>
            </p>
        </div>
    </a>

</div>
<% } %>
<hr>

<% }); %>


<!-- 翻页 pager -->

<ul class="pager">
    <% if (page.prev){ %>
    <li class="previous">
        <a href="<%- config.root %><%- page.prev_link %>">&larr; Newer Posts</a>
    </li>
    <% } %>
    <% if (page.next){ %>
    <li class="next">
        <a href="<%- config.root %><%- page.next_link %>">Older Posts &rarr;</a>
    </li>
    <% } %>
</ul>

